li {
  display:inline;
  padding: 0px 20px 0px 20px;
}
ul {
  text-align: right;
}

a {
  color:crimson;
  font-size: 20px;
  text-decoration: none;
}

span {
  color: crimson;
}

footer {
  text-align: center;
  padding: 10px;
  background-color:rgb(173, 132, 132);
  color: black;
}

#header img {
  float: left;
  margin-left: 50px;
  margin-right: -50px;
}
#header h1 {
  padding-top: 30px;
  color:crimson;
}

#user-input-bar {
    /* text-transform: uppercase; */
    border: 1px solid black;
    padding: 5px;
    width: 300px;
}

#search-button {
  /* text-transform: uppercase; */
  border: 1px solid black;
  background-color:rgb(185, 101, 118);
  padding: 5px;
  /* margin-left: 5px; */
}

#data-list {
  padding-left: 30px;
  /* flex-direction: column-reverse; */
}

#search-section div {
  display: flexbox;
  text-align: center;
}

#search-section h2 {
  color: darkred;
  text-align: center;
}

#intro {
  background: url("http://stories.uh.edu/covid-19/assets/ag2dSlL11z/covidbackground05-2560x1440.jpeg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
}

.intro-msg {
  border: black 2px solid;
  border-radius: 10%;
  margin-left: 300px;
  padding-left: 20px;
  height: auto;
  width: 600px;
  color:black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}