li {
  display:inline;
  padding: 0px 20px 0px 20px;
}
ul {
  text-align: right;
}

a {
  color:crimson;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: darkred;
}

span {
  color: crimson;
  cursor: pointer;
}

span:hover {
  color: darkred;
}

footer {
  text-align: center;
  padding: 10px;
  background-color:rgb(177, 148, 148);
  color: black;
  width: 100%;
}

footer a {
  cursor: pointer;
}


/* ID's Styling */

#header img {
  float: left;
  margin-left: 100px;
  margin-right: -50px;
}

#header h1 {
  padding-top: 30px;
  color:crimson;
}


#intro {
  background: url("http://stories.uh.edu/covid-19/assets/ag2dSlL11z/covidbackground05-2560x1440.jpeg");
  height: 600px;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#intro a span {
  position:absolute;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(34, 33, 33);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: small;
  text-align: center;
  right: 50px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#intro a :hover {
  background-color: rgb(245, 212, 219);
  color: darkred;
  border-color: darkred;
  opacity: 2;
}

#user-input-bar {
    border: 1px solid black;
    padding: 5px;
    width: 380px;
    border-radius: 10px;
}

#search-button {
  text-transform: uppercase;
  border: 1px solid black;
  background-color:rgb(173, 121, 130);
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

#search-button:hover {
  background-color:darkred;
}

#data-list {
  padding-left: 30px;
  height: 500px;
  width: 100vw;
}

#search-section {
  padding-top: 50px;
}

#search-section div {
  display: flexbox;
  text-align: center;
}

#search-section h2 {
  color: darkred;
  text-align: center;
  /* padding-top: 60px; */
}

#search-section a span {
  position:absolute;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(34, 33, 33);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: small;
  text-align: center;
  right: 50px;
  margin-top: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#search-section a :hover {
  color: darkred;
  background-color: rgb(245, 212, 219);
  border-color: darkred;
  opacity: 2;
}

#covid-info {
  background-color: rgb(245, 200, 211);
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#covid-info a span{
  position:absolute;
  height: 50px;
  width: 50px;
  border: 2px solid rgb(34, 33, 33);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: small;
  text-align: center;
  right: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#covid-info a :hover {
  color: darkred;
  background-color: rgb(245, 212, 219);
  border-color: darkred;
  opacity: 2;
}

#covid-info button {
  background: lightblue;
  border: solid 2px dodgerblue;
  height: 40px;
  font-size: medium;
  box-sizing:content-box;
  border-radius: 15px;
  cursor: pointer;
}

#covid-info button:hover {
  background-color: dodgerblue;
}

#WHO-info {
  background-color: rgb(245, 200, 211);
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

#WHO-info button {
  background: lightblue;
  border: solid 2px dodgerblue;
  height: 40px;
  font-size: medium;
  box-sizing:content-box;
  border-radius: 15px;
  cursor: pointer;
}

#WHO-info button:hover {
  background-color: dodgerblue;
}

/* class styling */

.intro-msg {
  border: black 2px solid;
  border-radius: 10%;
  margin: 0 auto;
  padding-left: 20px;
  height: auto;
  width: 600px;
  color:black;
}

.data-container {
  color: darkred;
  text-align: center;
}

.vaccine-data {
  color: darkred;
  text-align: center;
}

.to-top {
  display: inline-block;
  position: fixed;
  color: rgb(158, 55, 80);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  transition: all .3s ease-out;
  opacity: 0.5;
  text-decoration: none;
}

.to-top:before {
  content:'▲';
  font-size: 30px;
  position: fixed;
  bottom: 35px;
  text-align: center;
  right: 50px;
  border: solid 2px darkred;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  line-height: 30px;
  transition: transform .5s ease-in-out;
  background-color: rgb(243, 211, 211);
}

.to-top:hover {
  color: darkred;
  border-color: darkred;
  opacity: 2;
}

.to-top:hover:before {
  transform: rotate(360deg);
}

/* media queries for responsive design */

@media only screen and (max-width: 600px) {
  ul a {
    text-align: center;
    display: block;
  }

  #header img {
    /* display: block; */
    margin-right: -20;
    /* float: none; */
  }

  #header h1 {
    text-align: center;
    /* display: block; */
    /* margin-left: -20px; */
  }

  #intro img {
    /* height: 200px; */
    width: 500px;
    background-size: cover;
  }

  #intro a span {
    height: 50px;
    margin-top: -250px;
    /* left: 300px; */
  }

  .intro-msg h2 {
    text-align: center;
    font-size: medium;
  }

  .intro-msg {
    width: 500px;
    margin-bottom: 100px;
    height: auto;
  }

  #vaccine-info a span {
    height: 50px;
    margin-top: 90px;
    right: 50px;
  }

}